In [54]:
import pandas as pd

In [55]:
df=pd.read_csv("./cereal_mod.csv")

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      78 non-null     object
 1   mfr       78 non-null     object
 2   type      75 non-null     object
 3   calories  77 non-null     float64
 4   protein   78 non-null     int64
 5   fat       78 non-null     int64
 6   fat.1     78 non-null     int64
 7   sodium    78 non-null     int64
 8   fiber     78 non-null     float64
 9   carbo     78 non-null     float64
 10  sugars    78 non-null     int64
 11  potass    78 non-null     int64
 12  vitamins  78 non-null     int64
 13  shelf     78 non-null     int64
 14  weight    78 non-null     float64
 15  cups      78 non-null     float64
 16  rating    78 non-null     float64
dtypes: float64(6), int64(8), object(3)
memory usage: 10.5+ KB

In [57]:
df.isna().sum()

name        0
mfr         0
type        3
calories    1
protein     0
fat         0
fat.1       0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [58]:
##inplace =true is to modify the dataframe
df.dropna(inplace=True)

In [59]:
df.head()

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
5,Apple Cinnamon Cheerios,G,C,110.0,2,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110.0,2,0,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130.0,3,2,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562

In [60]:
df=pd.read_csv("./cereal_mod.csv")

In [61]:
df.head()

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,NaN,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [62]:
##Fill missing values with mode (most common values for that column)
df["type"].fillna(value=df['type'].mode().loc[0],inplace=True)
df.head()

/var/folders/kn/l8641p151k93sbb2vg6hs5ph0000gn/T/ipykernel_43005/306966979.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["type"].fillna(value=df['type'].mode().loc[0],inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,NaN,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [63]:
##For numerical data we can fill the missing values with the mean
print(df['calories'].mean())

106.75324675324676

In [64]:
df['calories'].fillna(value=df['calories'].mean(),inplace=True)

/var/folders/kn/l8641p151k93sbb2vg6hs5ph0000gn/T/ipykernel_43005/3873443616.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['calories'].fillna(value=df['calories'].mean(),inplace=True)

In [65]:
##Using backfill or forward fill

In [66]:
##Finally using interpolation to interpolate
## This method is typically used for time series data
df=pd.read_csv("./cereal_mod.csv")

In [67]:
df['calories'].interpolate(method= "linear", inplace=True)
df.head()

/var/folders/kn/l8641p151k93sbb2vg6hs5ph0000gn/T/ipykernel_43005/726030400.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['calories'].interpolate(method= "linear", inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,80.0,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

## Dealing with duplicate data

In [68]:
#check duplicated rows
sum(df.duplicated())

1

In [69]:
df.drop_duplicates(subset=['name'],keep="first",inplace=True)
df

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,NaN,70.0,4,1,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,80.0,2,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Triples,G,C,110.0,2,1,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
74,Trix,G,C,110.0,1,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
75,Wheat Chex,R,C,100.0,3,1,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
76,Wheaties,G,C,100.0,3,1,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
77,Wheaties Honey Gold,G,C,110.0,2,1,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [70]:
#check duplicated columns
df=df.transpose().drop_duplicates().transpose()
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,15,2.0,8.0,8,135,0,3,1.0,1.0,33.983679
2,All-Bran,K,NaN,70.0,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912
4,Almond Delight,R,C,80.0,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
74,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,1.0,1.0,27.753301
75,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
76,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,1.0,1.0,51.592193
77,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [71]:
##Cleaning data using airthmetic operation
df["weight"]=df["weight"]*28.35
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,130,10.0,5.0,6,280,25,3,28.35,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,15,2.0,8.0,8,135,0,3,28.35,1.0,33.983679
2,All-Bran,K,NaN,70.0,4,1,260,9.0,7.0,5,320,25,3,28.35,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,140,14.0,8.0,0,330,25,3,28.35,0.5,93.704912
4,Almond Delight,R,C,80.0,2,2,200,1.0,14.0,8,-1,25,3,28.35,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Triples,G,C,110.0,2,1,250,0.0,21.0,3,60,25,3,28.35,0.75,39.106174
74,Trix,G,C,110.0,1,1,140,0.0,13.0,12,25,25,2,28.35,1.0,27.753301
75,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3,115,25,1,28.35,0.67,49.787445
76,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3,110,25,1,28.35,1.0,51.592193
77,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,8,60,25,1,28.35,0.75,36.187559

In [72]:
##Cleaning data using apply finction in pandas

In [73]:
##By using string operations
df['type']=df['type'].str.lower()
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,c,70.0,4,1,130,10.0,5.0,6,280,25,3,28.35,0.33,68.402973
1,100% Natural Bran,Q,c,120.0,3,5,15,2.0,8.0,8,135,0,3,28.35,1.0,33.983679
2,All-Bran,K,NaN,70.0,4,1,260,9.0,7.0,5,320,25,3,28.35,0.33,59.425505
3,All-Bran with Extra Fiber,K,NaN,50.0,4,0,140,14.0,8.0,0,330,25,3,28.35,0.5,93.704912
4,Almond Delight,R,c,80.0,2,2,200,1.0,14.0,8,-1,25,3,28.35,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Triples,G,c,110.0,2,1,250,0.0,21.0,3,60,25,3,28.35,0.75,39.106174
74,Trix,G,c,110.0,1,1,140,0.0,13.0,12,25,25,2,28.35,1.0,27.753301
75,Wheat Chex,R,c,100.0,3,1,230,3.0,17.0,3,115,25,1,28.35,0.67,49.787445
76,Wheaties,G,c,100.0,3,1,200,3.0,17.0,3,110,25,1,28.35,1.0,51.592193
77,Wheaties Honey Gold,G,c,110.0,2,1,200,1.0,16.0,8,60,25,1,28.35,0.75,36.187559