## Modules: A separate python file that can be imported to a new file

In [3]:
import math

In [4]:
math_list=list(dir(math))

In [7]:
len(math_list)

67

In [12]:
math.sqrt(2)

1.4142135623730951

In [16]:
# import as alias
import math as m
m.sqrt(2)

1.4142135623730951

In [1]:
# import only specific item
from math import sqrt
sqrt(9)

3.0

In [2]:
# import everything
from math import *
sqrt(8)

2.8284271247461903

In [1]:
##Creating and calling your own module
import greeting

In [2]:
greeting.Greeting("Iti")

Hello, Iti !

## Libraries

In [4]:
# Numpy
import numpy as np

In [5]:
list=[0.1,0.2,1.5]
print(list)
print(list*2)
arr=np.array(list)
print(arr)
print(arr*2)

[0.1, 0.2, 1.5]
[0.1, 0.2, 1.5, 0.1, 0.2, 1.5]
[0.1 0.2 1.5]
[0.2 0.4 3. ]

In [6]:
data ={'Name' : ['Sam', 'Iti'], 'Age': [23,30]}
np.array(data["Age"])

array([23, 30])

In [7]:
# Pandas
import pandas as pd

In [11]:
df=pd.DataFrame(data)
df

  Name  Age
0  Sam   23
1  Iti   30

In [12]:
df.describe()

             Age
count   2.000000
mean   26.500000
std     4.949747
min    23.000000
25%    24.750000
50%    26.500000
75%    28.250000
max    30.000000

In [ ]:
# scikit learn