## Data exploration

In [3]:
import warnings
warnings.simplefilter('ignore')

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("./cereal.csv")

In [8]:
df.head(6)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541

In [9]:
df.shape

(77, 16)

In [10]:
### See a table summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [11]:
## Get summary statistics
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [12]:
df["calories"].median()

np.float64(110.0)

In [13]:
df["calories"].mean()

np.float64(106.88311688311688)

In [14]:
df["calories"].std()

np.float64(19.484119056820845)

In [15]:
df["calories"].var()

np.float64(379.63089542036914)

In [19]:
## Correlation
df.corr()

ValueError: could not convert string to float: '100% Bran'

In [21]:
frequency=df['mfr'].value_counts()
frequency

mfr
K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: count, dtype: int64

In [22]:
df['mfr'].mode()

0    K
Name: mfr, dtype: object

In [1]:
## Use numpy to analyse the data
import numpy as np

In [8]:
array_cereal=df[["calories", "fat"]].to_numpy()

In [9]:
array_cereal

array([[ 70,   1],
       [120,   5],
       [ 70,   1],
       [ 50,   0],
       [110,   2],
       [110,   2],
       [110,   0],
       [130,   2],
       [ 90,   1],
       [ 90,   0],
       [120,   2],
       [110,   2],
       [120,   3],
       [110,   2],
       [110,   1],
       [110,   0],
       [100,   0],
       [110,   0],
       [110,   1],
       [110,   3],
       [100,   0],
       [110,   0],
       [100,   1],
       [100,   0],
       [110,   1],
       [110,   0],
       [100,   0],
       [120,   2],
       [120,   0],
       [110,   1],
       [100,   0],
       [110,   1],
       [100,   1],
       [110,   0],
       [120,   3],
       [120,   2],
       [110,   1],
       [110,   0],
       [110,   1],
       [140,   1],
       [110,   1],
       [100,   2],
       [110,   1],
       [100,   1],
       [150,   3],
       [150,   3],
       [160,   2],
       [100,   1],
       [120,   1],
       [140,   2],
       [ 90,   0],
       [130,   2],
       [120,   1],
       [100,   0],
       [ 50,   0],
       [ 50,   0],
       [100,   1],
       [100,   2],
       [120,   1],
       [100,   2],
       [ 90,   0],
       [110,   0],
       [110,   0],
       [ 80,   0],
       [ 90,   0],
       [ 90,   0],
       [110,   1],
       [110,   0],
       [ 90,   0],
       [110,   1],
       [140,   1],
       [100,   1],
       [110,   1],
       [110,   1],
       [100,   1],
       [100,   1],
       [110,   1]])

In [14]:
## average of the first column
print(array_cereal[0].mean())

35.5

In [15]:
## Check number of dimensions of an array
array_cereal.ndim

2

In [17]:
len(array_cereal)

77

In [19]:
array_cereal.shape

(77, 2)

In [23]:
array_cereal1=array_cereal[0:5]
array_cereal1.shape

(5, 2)

In [25]:
##reshape an array
array_cereal1.reshape(2,5)

array([[ 70,   1, 120,   5,  70],
       [  1,  50,   0, 110,   2]])

## join and split arrays

In [26]:
array_cereal2=array_cereal[5:6]

In [32]:
array_cereal2.shape

(1, 2)

In [30]:
new_array=np.concatenate((array_cereal1, array_cereal2))

In [31]:
new_array

array([[ 70,   1],
       [120,   5],
       [ 70,   1],
       [ 50,   0],
       [110,   2],
       [110,   2]])

## Filtering on arrays

In [33]:
new_array

array([[ 70,   1],
       [120,   5],
       [ 70,   1],
       [ 50,   0],
       [110,   2],
       [110,   2]])

In [34]:
new_array >=5

array([[ True, False],
       [ True,  True],
       [ True, False],
       [ True, False],
       [ True, False],
       [ True, False]])

In [37]:
##wherever the values were greater than 5 it ois replaced with 0
new_array[new_array >=5]=0
new_array

array([[0, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 2],
       [0, 2]])